<?xml version="1.0"?>
<model>
  <name>quad manipulator</name>
  <version>1.0</version>
  <sdf version='1.6'>quad_manipulator.sdf</sdf>

  <author>
   <name>zhonghang</name>
   <email>zhonghang@hnu.edu.cn</email>
  </author>

  <description>
    This is a model of quad copter with a 4-degree freedom.
  </description>
</model>
